// COLORS
$sidebar-color: #F9F9F9;
$side-accent  : #247BBD;
$side-bland   : #777;
$link-color   : #247BBD;
$border-color : #E8E8E8;
$font-color   : #111;
$amazon-color : #c45500;
$hashtag-color: #777;
$screen-color : #777;

// DIMENSIONS
$widget-height: 260px;
$widget-width : 301px;
$sidebar-width: 310px;
$tweet-width  : 289px;
$tweet-height : 134px;
$tweet-padding: 12px 12px 10px 12px;
$margin-time  : 5px;
$tweet-margin : 20px;
$translate    : 20px;
$margin-first : ($widget-height - $tweet-height) / 2 - $translate;
$btn-width    : 126px;

// FONTS
$font       :  Arial,sans-serif;
$large-font :  14px;
$small-font :  12px;
$line-height:  16px;

// BUTTON
$t-button-radius  : 0 0 3px 3px;
$b-button-radius  : 3px 3px 0 0;
$t-button-shadow  : 0 -1px 3px #888;
$b-button-shadow  : 0 1px 3px #888;


// DROP SHADOWS
@mixin drop-hover(){
  box-shadow: 0 0 5px rgba(136, 136, 136, 1);
  transition: box-shadow .2s ease-out;
}

@mixin drop-active(){
  box-shadow: 0 0 3px rgba(136, 136, 136, 0.3);
  transition: box-shadow .2s ease-out;
}

@mixin drop-none(){
  box-shadow: 0 0 3px rgba(136, 136, 136, 0);
  transition: box-shadow .2s ease-out;
}

// BORDERS
@mixin tweet-border() {
  border-radius: 3px;
  border: solid 1px $border-color;
}

@mixin border-accent() {
  border-left: solid 4px $side-accent;
}

@mixin border-bland() {
  border-radius: 3px;
  border-left: solid 4px $side-bland;
}

@mixin border-accent-end() {
  border-left: solid 4px $amazon-color;
}


// OPACITY
@mixin opacity-active() {
  opacity: 1;
  transition: opacity .2s ease-out;
}

@mixin opacity-default() {
  opacity: 0.4;
  transition: opacity .2s ease-out;
}

@mixin opacity-none() {
  opacity: 0;
  transition: opacity .2s ease-out;
}
